
<div class="page-content header-clear-medium">

    <div class="card card-style bg-20" data-card-height="200" 
       
        style="height: 130px; background-image: linear-gradient(to top, <?php echo $sitecolor; ?> 0%, <?php echo $sitecolor; ?> 100%);">
        <!-- style="height: 130px; background-image: url('../../assets/img/bg.jpg')"> -->
        <div class="card-top ps-3 pt-2">
            <h1 class="color-white font-19"  style="text-shadow: 2px 2px 2px #000000;"><?php echo "Hi, ".$data->sFname; ?></h1>
        </div>
        <div class="card-top pe-3 pt-2">
            <h5 class="color-white float-end"  style="text-shadow: 2px 2px 2px #000000;">(<?php echo $controller->formatUserType($data->sType); ?>)</h5>
        </div>
        <div class="card-center ps-3 pt-2">
            <h2 class="color-white font-20" style="text-shadow: 2px 2px 2px #000000;">
            N<?php echo number_format($data->sWallet); ?> 
            </h2>
            <h4 class="color-white font-16"  style="text-shadow: 2px 2px 2px #000000;">
            Wallet Balance
            </h4>
        </div>
        <div class="card-center pe-3 pt-2">
        <a href="fund-wallet" class="float-end text-center">
                <span class="icon icon-l bg-light shadow-l rounded-sm">
                    <i class="fa fa-arrow-up font-18" style="color:<?php echo $sitecolor; ?>"></i>
                </span>
                <h5 class="mb-0 pt-1 font-14 text-white" style="text-shadow: 2px 2px 2px #000000;">Add Funds</h5>
            </a>
        </div>
        <div class="card-bottom ps-3 pb-2 bt-3">
            <h3 class="font-15"><a href="fund-wallet" style="text-shadow: 2px 2px 2px #000000;"><b class="text-white">Click Here To Fund Your Wallet</b></a></h3>
        </div>
        
        <div class="card-overlay bg-gradient"></div>

    </div>


    <div class="card card-style mt-3">
        
        <div class="content mb-2 mt-3">
        <div>
            <h5>Shortlinks</h5>
            <hr/>
           </div>
            <div class="row text-center mb-0">
                <a href="buy-airtime" class="col-3">
                    <span class="icon icon-l rounded-sm" style="background:#fafafa; color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-phone font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-11">Buy Airtime</p>
                </a>
                <a href="buy-data-pin" class="col-3">
                    <span class="icon icon-l rounded-sm" style="background:#fafafa; color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-mobile font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-11">Data Card</p>
                </a>
                <a href="buy-data" class="col-3">
                    <span class="icon icon-l rounded-sm" style="background:#fafafa; color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-wifi font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-11">Buy Data</p>
                </a>
                <a href="fund-wallet" class="col-3">
                    <span class="icon icon-l rounded-sm" style="background:#fafafa; color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-arrow-up font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-11">Fund Wallet</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card card-style mt-n3">
        <div class="content mb-3 mt-3">
           <div>
            <h5>Services</h5>
            <hr/>
           </div>

            <div class="row text-center mb-0">
                
            <a href="buy-airtime" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-phone font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Airtime</p>
                </a>

                <a href="buy-data" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-wifi font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Data</p>
                </a>

                <a href="cable-tv" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-tv font-18 "></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Cable TV</p>
                </a>

                <a href="electricity" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-bolt font-18 "></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Electricity</p>
                </a>

                <a href="exam-pins" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-graduation-cap font-18 "></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Exam Pins</p>
                </a>
                
                <a href="airtime2cash" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-phone font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Airtime 2 Cash</p>
                </a>
                
                <a href="recharge-pin" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-receipt font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Recharge Card Pin</p>
                </a>
                
                <a href="buy-data-pin" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-wifi font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Data Card</p>
                </a>
                
                <a href="2bank" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-arrow-up font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Wallet 2 Bank</p>
                </a>
                
                <a href="transactions" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-receipt font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Transactions</p>
                </a>

                
                <a href="pricing" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-list font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Pricing</p>
                </a>

                <a href="fund-wallet" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-arrow-up font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Add Fund</p>
                </a>

                <a href="profile" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-user  font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Profile</p>
                </a>
                
                <a href="contact-us" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-envelope font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Contact</p>
                </a>

                

                <a href="#agent-upgrade-modal" id="upgrade-agent-btn" data-menu="agent-upgrade-modal" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-user-secret font-18"></i>
                    </span>
                    <p class="mb-0 pt-1 font-13">Agent</p>
                </a>

                <a href="logout" class="col-4 mt-2">
                    <span class="icon icon-l shadow-l rounded-sm" style="color:<?php echo $sitecolor; ?>;">
                        <i class="fa fa-lock  font-18"></i>
                    </span>
                    <p class=<!doctype html>
                        <html lang="en">
                        <head>
                            {% load static %}
                        
                            <!-- Meta Tags -->
                            <meta charset="utf-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="description" content="ADU Business">
                            <meta name="keywords" content="ADU Business">
                            <meta name="apple-mobile-web-app-capable" content="yes">
                            <meta name="msapplication-TileColor" content="#833ab4">
                            <meta name="msapplication-TileImage" content="{% static 'assets/img/favicon.php' %}">
                            <meta itemprop="name" content="ADU Business - Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
                            <meta itemprop="description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
                            <meta itemprop="image" content="{% static 'assets/img/favicon.php' %}">
                            
                            <!-- Social Media Metadata -->
                            <meta name="twitter:card" content="{% static 'assets/img/favicon.png' %}">
                            <meta name="twitter:title" content="ADU Business - Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
                            <meta name="twitter:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
                            <meta name="twitter:image:src" content="{% static 'assets/images/DSC_0820 (2).jpg' %}">
                            <meta property="og:locale" content="en_US">
                            <meta property="og:title" content="ADU Business - Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
                            <meta property="og:image" content="{% static 'images/DSC_0820%20%282%29.jpg' %}">
                            <meta property="og:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
                            <meta property="og:site_name" content="ADU Business">
                            <meta property="og:url" content="https://www.business.aduikirun.com.ng">
                            <meta property="og:type" content="website">
                        
                            <title>ADU Business | Instant recharge for airtime, data, cable TV, electricity bills, and more</title>
                        
                            <!-- Favicon -->
                            <link rel="shortcut icon" href="{% static 'eciIWSEnXsBX.ico' %}" type="image/x-icon">
                        
                            <!-- External Stylesheets -->
                            <link href="{% static 'css/TtijRQYM8nKS.css' %}" rel="stylesheet">
                            <link href="{% static 'css/Gsq7b6gMmEva.css' %}" rel="stylesheet">
                            <link href="{% static 'css/9IHumZavncK9.css' %}" rel="stylesheet">
                            <link href="{% static 'css/fPBngpt0O4B9.css' %}" rel="stylesheet">
                            <link href="{% static 'css/GSYMFcM3aBmU.css' %}" rel="stylesheet">
                            <link href="{% static 'css/aPeygJokAb0U.css' %}" rel="stylesheet">
                            <link href="{% static 'css/kOq6kyELVo2y.css' %}" rel="stylesheet">
                            <link href="{% static 'css/4p113Jtmjo8h.css' %}" rel="stylesheet">
                            <link href="{% static 'css/dtIiXdFr3AYV.css' %}" rel="stylesheet">
                            <link href="{% static 'css/ROkAXiUkkR5X.css' %}" rel="stylesheet" id="color_theme">
                        
                        </head>
                        
                        <body data-spy="scroll" data-target="#navbar" data-offset="98">
                        
                            <!-- Header -->
                            <header class="fixed-header">
                                <nav class="navbar header-nav navbar-expand-lg">
                                    <div class="container">
                                        <!-- Brand -->
                                        <a class="navbar-brand" href="https://epins.com.ng/vtuportalcreator">
                                            <img src="{% static 'images/a0p4drwubW94.png' %}" height="50" alt="Brand Logo">
                                        </a>
                        
                                        <!-- Mobile Toggle -->
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                        
                                        <!-- Top Menu -->
                                        <div class="collapse navbar-collapse justify-content-end" id="navbar">
                                            <ul class="navbar-nav ml-auto align-items-center">
                                                <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                                                <li><a class="nav-link" href="#about">About Us</a></li>
                                                <li><a class="nav-link" href="#services">Services</a></li>
                                                <li><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                                                <li><a class="nav-link-btn btn btn-white m-15px-l md-m-0px-l" href="{% url 'login' %}">Log In</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </header>
                        
                            <!-- Main Section -->
                            <main>
                        
                                <!-- Home Banner -->
                                <section id="home" class="home-banner-02 theme-bg" style="background: #c3d0ff !important;">
                                    <div class="home-effect">
                                        <img src="{% static 'fonts/SVaFfvyHoWiV.svg' %}" alt="Background Effect">
                                    </div>
                                    <div class="container">
                                        <div class="row justify-content-center align-items-center full-screen p-80px-tb">
                                            <div class="col-lg-5">
                                                <div class="banner-text p-50px-t md-p-80px-t sm-p-40px-t">
                                                    <h2 class="font-alt dark-color">Welcome to <br>ADU Business</h2>
                                                    <p>A one-stop shop for instant recharge of Airtime, Data, TV & Electricity bill payments, WAEC & NECO PIN, Airtime to Cash Conversion, and more.</p>
                                                    <div class="btn-bar">
                                                        <a class="btn btn-theme mr-2" href="{% url 'register' %}">Register <i class="fa fa-plus"></i> </a>
                                                        <a class="btn btn-theme" href="{% url 'login' %}">Log In <i class="fa fa-unlock"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="col-lg-7">
                                                <img src="{% static 'images/datagirl.png' %}" alt="Data Girl Image">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        
                                <!-- About Us -->
                                <section id="about" class="section border-bottom gray-bg-g shapes-section">
                                    <div class="container">
                                        <div class="row justify-content-center m-45px-b md-m-25px-b">
                                            <div class="col-md-10 col-lg-8 col-xl-7">
                                                <div class="section-title text-center">
                                                    <h2 class="dark-color font-alt">Why Choose Us</h2>
                                                    <p>ADU Business offers fast, reliable, and automated services for all your digital needs, from airtime recharge to utility bill payments.</p>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <div class="col-md-4 m-15px-tb">
                                                <div class="feature-box theme-hover box-shadow">
                                                    <div class="icon">
                                                        <img src="{% static 'images/a0p4drwubW94.png' %}" height="50" alt="Icon">
                                                    </div>
                                                    <div class="feature-content">
                                                        <h4 class="dark-color font-alt">Fully Automated System</h4>
                                                        <p>Our automated system ensures fast service delivery for airtime top-up, data purchase, and wallet funding.</p>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="col-md-4 m-15px-tb">
                                                <div class="feature-box theme-hover box-shadow">
                                                    <div class="icon">
                                                        <img src="{% static 'images/XwEqNjujqjCK.png' %}" height="50" alt="Icon">
                                                    </div>
                                                    <div class="feature-content">
                                                        <h4 class="dark-color font-alt">Cheap and Reliable</h4>
                                                        <p>Get 100% value for your transactions on a reliable and fully optimized platform.</p>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="col-md-4 m-15px-tb">
                                                <div class="feature-box theme-hover box-shadow">
                                                    <div class="icon">
                                                        <img src="{% static 'images/DSC_0820%20%282%29.jpg' %}" height="50" alt="Icon">
                                                    </div>
                                                    <div class="feature-content">
                                                        <h4 class="dark-color font-alt">24/7 Customer Support</h4>
                                                        <p>Our support team is always available to assist with any inquiries or technical issues you may encounter.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        
                            </main>
                        
                            <!-- Footer -->
                            <footer class="footer py-3 bg-light">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p class="text-muted">© 2025 ADU Business. All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        
                        </body>
                        </html>
                        "mb-0 pt-1 font-13">Logout</p>
                </a>
                
            </div>
        </div>
    </div>

</div>

